# .env 파일 내용 (샘플)
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_DSN=(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=your_db_host))(connect_data=(service_name=your_db_service_name))(security=(ssl_server_dn_match=yes)))
